[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
dash = "*"
plotly = "*"
spacy = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"
gensim = "*"
ipykernel = "*"
bs4 = "*"
plotly-express = "*"
psycopg2 = "*"
python-decouple = "*"
sqlalchemy = "*"
imbalanced-learn = "*"
internetarchive = "*"

[requires]
python_version = "3.7"
